<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="org.example.app.App" />
    <module name="IDEA-353229.app.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>